
// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	
}


//variables 
@main-color: rgb(237, 199, 197);
@white-color: white;
@grey-color: grey;
@black-color: black;
@hpink-color: hotpink;
@greyy-color: #707070;
@pink-color: pink;
@blue-color: #C7D0E1;
@greyish-color: #979da8;
@lightb-color: lightblue;
@body-font: 'Pacifico', cursive;
@text-font: 'Ubuntu', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Pacifico|Ubuntu&display=swap');
@phone: ~"(max-width: 500px)";
@phones: ~"(max-width: 675px)";
@mobile: ~"(max-width: 680px)";
@mobiles: ~"(max-width:675px)";
@mobilesss: ~"(min-width:675px)";

//mixin//
.font(){
	font-weight: 700;
}

.margin(){
    margin-top: 0;
}


.marginb(){
    margin-bottom: 2em;
}




body {
	
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.125rem;
	font-weight: 300;
}

.diytitle {
	font-size: 3.0em;
	margin-bottom: 3%;
	background-color: @main-color;
}

.diytitle:hover {
	color: @black-color;
}

.bold {
	font-size: 1.5rem;

}

.bold:hover {
	color: @hpink-color;
}



img {
	max-width: 100%;
	display: block;
}

.image-full {
	max-height: 300px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2em;
}
h2,h3 {
	font-family: 'Lora', serif;
    font-weight: 400;
    .margin();
}

h1 {
  font-family: @body-font;
  color: @grey-color;
  .margin();
}

a {
	color: @black-color;
}
  &:hover {
	color: @grey-color;
}
strong {
	.font();
}

//h1 subtitle//
.subtitle {
  .font();
  color: @black-color;
  font-size: .75rem;
  .margin();
}
.article-title {
	font-size: 1.5rem;
}

.article-read-more
       &
.article-info {
	font-size: 0.875rem;
}

.article-read-more {
	text-decoration: none;
	.font();
}

.article-read-more:hover
          &
.article-read-more:focus {
	text-decoration: underline;
	
}
.article-read-more:hover {
	color: @hpink-color;
}

.article-info {
	margin: 2em 0;
}

.widget-title
      &
.widget-title-post-title {
	font-size: 1rem;
}

.widget-title {
	font-family: 'Ubuntu', sans-serif;
	.font();
}

.widget-recent-post-title {
	color: @black-color;
}

.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

.container-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

header {
	//background: @main-color;
	//padding: 1% 0;
	text-align: center;
	margin-bottom: 3em;
}

footer {
	background: @main-color;
	text-align: center;
	padding: 2em 0;
}

@media @phones {
	header {
        text-align: left;
    }
    
    .container-flex {
        flex-direction: row;
    }
    
    main {
        width: 70%;
    }
    
    aside {
        width: 25%;
        min-width: 200px;
        margin-left: 1em;
    }
}

	//nav//
	

	
 nav ul {
	 list-style: none;
	 padding: 0;
	 display: flex;
	 justify-content: center;
 }

 nav li {
	 margin-left: 2em;
 }

 nav a {
	 text-decoration: none;
	 .font();
	 padding: .25em 0;
 }

 nav a:hover
      &
 nav a:focus {
	 color: @lightb-color;
 }

 .current-page {
	 border-bottom: 1px solid @greyy-color;
 }

 .current-page:hover {
	 color: @greyy-color;
 }

 @media @mobiles {
	 nav ul {
        flex-direction: column;
	}
    nav li {
	 margin: .5em 0;
    }
 }


 /* articles */

.article-featured {
    border-bottom: @greyy-color 1px solid;
    padding-bottom: 2em;
    .marginb();
}

.article-recent {
    display: flex;
    flex-direction: column;
    .marginb();
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

@media @mobilesss{
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .article-recent-main {
        width: 68%;
    }
    
    .article-recent-secondary {
        width: 30%;
    }
    
    .article-featured {
        display: flex;
        flex-direction: column;
    }
    
    .article-image {
        order: -2;
        min-height: 250px;
        object-fit: cover;
		border-radius: 20px;
		
	}
	
	.article-image:hover {
		animation: shake 0.5s;
		animation-iteration-count: infinite;
		@keyframes shake {
			0% { transform: translate(1px, 1px) rotate(0deg); }
			10% { transform: translate(-1px, -2px) rotate(-1deg); }
			20% { transform: translate(-3px, 0px) rotate(1deg); }
			30% { transform: translate(3px, 2px) rotate(0deg); }
			40% { transform: translate(1px, -1px) rotate(1deg); }
			50% { transform: translate(-1px, 2px) rotate(-1deg); }
			60% { transform: translate(-3px, 1px) rotate(0deg); }
			70% { transform: translate(3px, 1px) rotate(-1deg); }
			80% { transform: translate(-1px, -1px) rotate(1deg); }
			90% { transform: translate(1px, 2px) rotate(0deg); }
			100% { transform: translate(1px, -2px) rotate(-1deg); }
		  }
		  
	}
    
    .article-info {
        order: -1;
    }
}

/* widgets */

.sidebar-widget {
    border: 20px solid #efefef;
    margin-bottom: 2em;
    padding: 1em;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    //border-bottom: 1px solid #707070;
    margin-bottom: 1em;
}

.widget-recent-post:last-child {
    border: 0;
    margin: 0;
}

.widget-image {
    order: -1;
}

//contact form//

input[type=text], select, textarea {
	width: 100%;
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical 
  }
  
  
  input[type=submit] {
	background-color: @pink-color;
	color: @white-color;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  
  input[type=submit]:hover {
	background-color: @pink-color
  }
  
  
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-top: 5%;
  }


  //About us page//

  //.team {
	 // background-color: whitesmoke;
  //}

  //.our {
	 // display: flex;
	  //justify-content: center;
	  //margin-top: 10%;
	 // font-family: sans-serif;
	 // font-size: 1.5em;
  //}

  //.pics {
	//  display: flex;
	//justify-content: center;
	// margin-top: 2%;
	 // display: block;
    //margin-block-start: 1em;
    //margin-block-end: 1em;
    //margin-inline-start: 0px;
	//margin-inline-end: 0px;
	//text-align: left;
  //}

//.line {
	//border: dotted pink 6px;
    //border-bottom: none;
   // width: 5%;
   // margin: 100px auto;
//}


//.right {
	//display: flex;
	//justify-content: center;
//}


   
    
	//.team {
	//	background-color: whitesmoke;
	//}
  
	//.our {
	//	display: flex;
	//	justify-content: center;
	//	margin-top: 10%;
	//	font-family: sans-serif;
	//	font-size: 1.5em;
	//}
  
	//.pics {
	  //   display: flex;
	  //justify-content: center;
	 //  margin-top: 10%;
	   
	   //display: block;
	  //margin-block-start: 1em;
	  //margin-block-end: 1em;
	  //margin-inline-start: 0px;
	  //margin-inline-end: 0px;
	  //text-align: left;
	
  
  //.line {
	 // border: dotted pink 6px;
	//  border-bottom: none;
	//  width: 5%;
	//  margin: 100px auto;
 // }//
 @media @phone {
  .diytitle {
	font-size: 3.0em;
	margin-bottom: 3%;
	background-color: whitesmoke
  }	
}
    
		//team page //


.top{
	//background-color: @white-color ;
	margin-bottom: 2pm;
	
}






		html 
{
    overflow-x: hidden;
}

body {

    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: @white-color;
    
}

a
{

    text-decoration: none;

}


.card
{
    z-index: 1;
    position: relative;
    width: 300px;
    height:400px;
    margin: 0 auto;
    margin-top:100px;
    background-color: @white-color;
    -webkit-box-shadow: 0 0 10px @black-color;
	-moz-box-shadow: 0 0 10px @black-color;
	box-shadow: 0 0 15px @black-color;
    @-webkit-transition: all 0.7s ease-in-out;
    @-moz-transition:    all 0.7s ease-in-out;
    @-o-transition:      all 0.7s ease-in-out;
    @-ms-transition:     all 0.7s ease-in-out;
/*
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.2);
*/
}
.card.active
{
    height:490px;
}
.banner
{
    z-index: 2;
    position: relative;
    margin-top: -154px;
    width:100%;
    height:150px;
    background-image: url(https://www.google.com/url?sa=i&url=http%3A%2F%2Fgetwallpapers.com%2Fcollection%2Fwhite-background-wallpaper-iphone&psig=AOvVaw0nXZi4FaVgRxw-ltdgYpXH&ust=1574371589509000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOjDwbDd-eUCFQAAAAAdAAAAABAD);
    background-size: cover;
    //border-bottom: solid 1px lightgrey;
  
    @-webkit-transition: all 0.7s ease-in-out;
    @-moz-transition:    all 0.7s ease-in-out;
    @-o-transition:      all 0.7s ease-in-out;
    @-ms-transition:     all 0.7s ease-in-out;
}

.banner.active
{
    height: 0;
  
}

.photo
{
    z-index: 3;
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: @white-color;
    margin: 0 auto;
    background-image: url(https://scontent.ftpa1-2.fna.fbcdn.net/v/t1.0-1/p240x240/71497438_2420681227967955_2900388503000973312_n.jpg?_nc_cat=100&_nc_oc=AQmCalucaZGF37k8YLb36BW8dx-7_hbUdM_SHEwKNrkTxNZG716jvJyZ71KK2oys7jZv6DRYogxobcXCTSRVLczV&_nc_ht=scontent.ftpa1-2.fna&oh=5110c175f601932432017e82370997e4&oe=5E83BB40);
    background-size: cover;
    background-position: 50% 50%;
    top:75px;
    -webkit-box-shadow: inset 0px 0px 5px 1px @black-color;
    -moz-box-shadow: inset 0px 0px 5px 1px @black-color;
    box-shadow: inset 0px 0px 5px 1px @black-color;
    @-webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
    @-moz-transition:    top 0.7s ease-in-out, background 0.15s ease;
    @-o-transition:      top 0.7s ease-in-out, background 0.15s ease;
    @-ms-transition:     top 0.7s ease-in-out, background 0.15s ease;
}

.photo.active
{
    top:-80px;
}
.card ul
{
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-top:87px;
    margin-bottom:30px;
    font-size: 20px;
    @-webkit-transition: all 0.7s ease-in-out;
    @-moz-transition:    all 0.7s ease-in-out;
    @-o-transition:      all 0.7s ease-in-out;
    @-ms-transition:     all 0.7s ease-in-out;
}

.card ul.active
{
    opacity:0;
    visibility: hidden;
}

.card i
{
    font-size: 25px;
    display: inline-block;
    margin-top:10px;
    margin-left: 40px;
    margin-right: 150px;
    width: 300px;;
    text-align: left;
    color: @blue-color;
}

button.contact
{
    margin: 0 auto;
    text-align: center;
    margin-top: -15px;
    width: 100%;
    height: 35px;
    display: block;    
    border:none;
    background-color: transparent;
    font-family: inherit;
    color: @white-color;
    background-color: @blue-color;
    font-size:12px;
    text-transform: uppercase;
    @-webkit-transition: all 0.3s ease-in-out;
    @-moz-transition:    all 0.3s ease-in-out;
    @-o-transition:      all 0.3s ease-in-out;
    @-ms-transition:     all 0.3s ease-in-out;
}

button.contact:hover
{
    cursor: pointer;
    background-color: @greyish-color;
}

button.contact:focus
{
    outline: 0;
}

.social-media-banner
{
    width: 300px;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    position: absolute;
    @-webkit-transition: all 1.5s ease-in-out;
    @-moz-transition:    all 1.5s ease-in-out;
    @-o-transition:      all 1.5s ease-in-out;
    @-ms-transition:     all 1.5 ease-in-out;
}

.social-media-banner.active
{
    opacity:0;
    visibility: hidden;
        @-webkit-transition: all 0.1s ease-in-out;
    @-moz-transition:    all 0.1s ease-in-out;
    @-o-transition:      all 0.1s ease-in-out;
    @-ms-transition:     all 0.1s ease-in-out;
}

.social-media-banner a i
{
    display: inline;
    
    @width: auto;
    margin-right:15px;
    margin-left: 10px;
    @-webkit-transition: all 0.3s ease-in-out;
    @-moz-transition:    all 0.3s ease-in-out;
    @-o-transition:      all 0.3s ease-in-out;
    @-ms-transition:     all 0.3s ease-in-out;
}

.social-media-banner a i:hover
{
    color: @greyish-color;
}

.email-form
{
    height: 0;
    overflow: hidden;
    width: 300px;
     z-index:-1;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition:    all 0.5s ease-in-out;
    -o-transition:      all 0.5s ease-in-out;
    -ms-transition:     all 0.5s ease-in-out;
     transition: all 0.5s ease-in-out;
}

.email-form.active
{
    height: 310px;
    z-index: 3;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition:    all 1s ease-in-out;
    -o-transition:      all 1s ease-in-out;
    -ms-transition:     all 1s ease-in-out;
     transition: all 1s ease-in-out;
}

.email-form input
{
    width: 200px;
    text-transform: capitalize;

    margin-top: 35px;
    height: 30px;
    display: block;
        @-webkit-transition: all 0.2s ease-in-out;
    @-moz-transition:    all 0.2s ease-in-out;
    @-o-transition:      all 0.2s ease-in-out;
    @-ms-transition:     all 0.2s ease-in-out;
}
.email-form input:focus,.email-form textarea:focus
{

    border: 1px solid @grey-color;
    outline: none;
    
}
::-webkit-input-placeholder 
{
 font-size: 12px;
 text-transform: uppercase;
 text-align: center;

}
.email-form textarea
{
    width: 200px;
    text-transform: capitalize;
    background-color: @white-color;
    margin: 0 auto;
    display: block;
    margin-top:40px;
    border: 1px solid #dadee5;
    font-family: inherit;
    @-webkit-transition: all 0.3s ease-in-out;
    @-moz-transition:    all 0.3s ease-in-out;
    @-o-transition:      all 0.3s ease-in-out;
    @-ms-transition:     all 0.3s ease-in-out;
}

.email-form button
{
    margin-top: 60px;
}



.tl
{
    z-index: 3;
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: @white-color;
    margin: 0 auto;
    background-image: url(https://ca.slack-edge.com/T4JUEB3ME-UFY9GF4DN-876ccf1950b8-512);
    background-size: cover;
    background-position: 50% 50%;
    top:75px;
    -webkit-box-shadow: inset 0px 0px 5px 1px @black-color;
    -moz-box-shadow: inset 0px 0px 5px 1px @black-color;
    box-shadow: inset 0px 0px 5px 1px @black-color;
    @-webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
    @-moz-transition:    top 0.7s ease-in-out, background 0.15s ease;
    @-o-transition:      top 0.7s ease-in-out, background 0.15s ease;
    @-ms-transition:     top 0.7s ease-in-out, background 0.15s ease;
}




  
.two
{
    z-index: 3;
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: @white-color;
    margin: 0 auto;
    background-image: url(https://avatars0.githubusercontent.com/u/1680153?s=460&v=4);
    background-size: cover;
    background-position: 50% 50%;
    top:75px;
    -webkit-box-shadow: inset 0px 0px 5px 1px @black-color;
    -moz-box-shadow: inset 0px 0px 5px 1px @black-color;
    box-shadow: inset 0px 0px 5px 1px @black-color;
    @-webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
    @-moz-transition:    top 0.7s ease-in-out, background 0.15s ease;
    @-o-transition:      top 0.7s ease-in-out, background 0.15s ease;
    @-ms-transition:     top 0.7s ease-in-out, background 0.15s ease;
}



.three
{
    z-index: 3;
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: @white-color;
    margin: 0 auto;
    background-image: url(https://ca.slack-edge.com/T4JUEB3ME-UMR10UR2S-b9ce66253e0d-512);
    background-size: cover;
    background-position: 50% 50%;
    top:75px;
    -webkit-box-shadow: inset 0px 0px 5px 1px @black-color;
    -moz-box-shadow: inset 0px 0px 5px 1px @black-color;
    box-shadow: inset 0px 0px 5px 1px @black-color;
    @-webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
    @-moz-transition:    top 0.7s ease-in-out, background 0.15s ease;
    @-o-transition:      top 0.7s ease-in-out, background 0.15s ease;
    @-ms-transition:     top 0.7s ease-in-out, background 0.15s ease;
}


.four
{
    z-index: 3;
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: @white-color;
    margin: 0 auto;
    background-image: url(https://ca.slack-edge.com/T4JUEB3ME-UM084PGEQ-8a4318dd4175-512);
    background-size: cover;
    background-position: 50% 50%;
    top:75px;
    -webkit-box-shadow: inset 0px 0px 5px 1px @black-color;
    -moz-box-shadow: inset 0px 0px 5px 1px @black-color;
    box-shadow: inset 0px 0px 5px 1px @black-color;
    @-webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
    @-moz-transition:    top 0.7s ease-in-out, background 0.15s ease;
    @-o-transition:      top 0.7s ease-in-out, background 0.15s ease;
    @-ms-transition:     top 0.7s ease-in-out, background 0.15s ease;
}


.team{
	background-color:@main-color;
}



//media query for main page//
@media @mobile {
	.container-flex {
		display: flex;
		flex-direction: column;
		align-items: center;
	
	}
	main {
        width: 100%;
	}
	//.sidebar-widget {
		//border: 20px solid #efefef;
		//margin-bottom: 2em;
		//padding: 1em;
		//width: 90%;
	//}

	.sidebar{
		width:102%;
	}
	//.article-featured{
		//width:100%;
	//}
    
}

//media query for about us page//
@media @mobile {
	.top{
		display: flex;
		justify-content: center;
	}
}
